.owl-carousel .item {
  height: 10rem;
  background: #4DC7A0;
  padding: 1rem;
}

.button.secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333;
}

.button {
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #008CBA;
  border-color: #007095;
  color: #fff;
  transition: background-color 300ms ease-out;
}
